.accountList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  padding: 16px;
}

.accountItem {
  background-color: var(--color-surface);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.accountName {
  margin-bottom: 12px;
  color: white;
  padding-bottom: 5px;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.0625rem;
  gap: 1rem;
}

.accountName > div:nth-child(1) {
  overflow: hidden;
}

.editIcon {
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.2s ease;
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  background: url("images/edit_icon.svg") center/cover;
}

.editIcon:hover {
  background-color: rgba(128, 128, 128, 0.3);
}

.editIcon:active {
  background-color: rgba(128, 128, 128, 0.5);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--color-secondary);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(3, 218, 198, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(3, 218, 198, 0);
  }
}

.code {
  animation: pulse 2s;
  border-radius: 2px;
  font-family: "Roboto Mono", monospace;
  font-size: 28px;
  color: var(--color-secondary);
  letter-spacing: 2px;
  padding: 2px;
  min-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.copyIcon {
  display: flex;
  width: 38px;
  height: 38px;
  background: url("images/clipboard_copy.svg") center/cover no-repeat;
  background-size: 50%;
  opacity: 0;
  transition: opacity 250ms ease;
}

.code:hover > .copyIcon {
  opacity: 0.5;
}

.refreshTimer {
  width: 100%;
  height: 8px;
  position: sticky;
  top: var(--nav-bar-height);
}

.refreshTimer > div {
  position: absolute;
  border-radius: inherit;
  background: var(--color-secondary);
}

.listContentMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-secondary);
  height: calc(100% - var(--nav-bar-height));
}