.colorGreen {
  color: green;
}

.colorRed {
  color: red;
}

.error {
  margin: 0 0 0.3rem;
  color: red;
}

.smallText {
  font-size: small;
}

.smallTitle {
  margin: 0;
  padding: 0;
  font-size: small;
  text-transform: uppercase;
}